body {
  background-color: #DDD;
}
pieces {
  color: #6B8F9C;
  color: #325763;
  color: #072F3D;

  color: #fff9ae;
  color: #f8ed62;
  color: #e9d700;

  color: #605052;
  color: #2e242c;
  color: #211a23;

  color: #a4fba6;
  color: #4ae54a;
  color: #30cb00;

  color: #ffbaba;
  color: #ff7b7b;
  color: #ff5252;

  color: #7c5835;
  color: #66442c;
  color: #4c2b21;
}

#game {
  font-family: monospace;
}
div.winners {
  height: 12em;
  margin-bottom: -12em;
  text-align: center;
}
div.winners ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}
div.winners ul li {
  float: left;
  margin-right: 1em;
  display: inline-block;
}
div.winners ul li img.pawn {
  height: 6em;
}
div.winners ul li div {
  text-align: center;
  width: 100%;
}
img.roll {
  height: 2em;
}
div.entry {
  text-align: center;
}
div.entry input,
div.entry button {
  font-size: 2em;
  padding: .2em;
  margin: .2em;
}
div.entry div {
  display: inline-block;
}
div.trail {
  white-space: nowrap;
  font-size: 10px;
  text-align: center;
}
div.space {
  display: inline-block;
  margin: 0;
  padding: .3em;
}
div.space:hover .pawns img.pawn {
  opacity: .2;
}
div.space:hover .pawns .mobile img.pawn {
  opacity: 1;
  cursor: pointer;
}
.pawns {
  position: relative;
  height: 18em;
}
.pawns ol {
  position: absolute;
  bottom: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}
.pawns ol > li {
  text-align: center;
}
.pawns ol > li img {
  height: 2em;
}
img.kind {
  height: 5em;
}
.worth {
  margin-top: 5px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.poison .worth {
  color: red;
}
.poison.cured .worth {
  color: black;
}
.start .worth,
.stop .worth,
.tome .worth {
  visibility: hidden;
}
div.summary {
  position: fixed;
  bottom: 2em;
  width: 100%;
}
table.players {
  margin: 2em auto;
}
table.players td {
  padding: 1em 0;
}
table.players td.die {
  width: 3em;
  text-align: center;
}
table.players td.score {
  width: 1.5em;
  text-align: right;
  padding-right: 1em;
}
table.players td.pawn {
  width: 3em;
}
table.players td.name {
  width: 9em;
  text-align: right;
}
table.players td.collected {
  font-size: .4em;
}
table.players td.collected .card {
  float: left;
  margin: 0 1em -1em 0;
}
